<form class="row" [formGroup]="form">
    <h3 class="col-12 pb-3">Fazer Login</h3>
    
    <div class="col-12">
        <input-validator>
            <label for="email">Email</label>
            <input type="text" name="email" pInputText class="w-100 mt-2" formControlName="email">
        </input-validator>
    </div>

    <div class="col-12 mt-3">
        <input-validator>
            <label for="password">Password</label>
            <input type="password" name="password" pInputText class="w-100 mt-2" formControlName="password">
        </input-validator>
    </div>

    <div class="col-12 mt-3">
        <a class="button-link pointer">Esqueci minha senha</a>
    </div>

    <div class="col-12 mt-4">
        <button pButton label="Entrar" class="w-100" (click)="login()"></button>
    </div>

    <p-divider></p-divider>

    <div class="col-12 mt-3 d-flex align-items-center flex-wrap">
        <span class="text">Não tem uma conta?</span>
        <a class="button-link pointer pl-2">Fazer primeiro acesso</a>
    </div>
</form>