
.menu-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
.menu-icon {
    position: relative;
    width: 20px;
    height: 2px;
    background: var(--text-color);
    transition: 0.5s;
    &::after {
        content: "";
        width: 20px;
        height: 2px;
        background: var(--text-color);
        position: absolute;
        top: 5px;
        transition: 0.5s;
    }
    &::before {
        content: "";
        width: 20px;
        height: 2px;
        background: var(--text-color);
        position: absolute;
        bottom: 5px;
        transition: 0.5s;
    }
}

.menu-icon-open {
    background: transparent;
    margin-top: -15px;
    &::after {
        transform: rotate(-45deg);
    }
    &::before {
        transform: rotate(45deg);
        bottom: -5px;
    }
}