<div class="content register">
    <div class="row">
        <div class="col-md-6 col-lg-7 image">
            <img src="../../../assets/images/login-image.svg" alt="Flat de mulher uma mulher no sofá usando o computador">
        </div>
    
        <div class="col-md-6 col-lg-5 form">
            <div class="form-content">
                <div class="custom-border">
                    <div class="login" *ngIf="isLogin">
                        <app-login (onCreateAccount)="handleisLoggin()"></app-login>
                    </div>
                    <div class="register" *ngIf="!isLogin">
                        <app-register (onLogin)="handleisLoggin()"></app-register>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>