@import 'mixins';

@include entrance(slide-right, 200px, 0);
@include entrance(slide-left, -200px, 0);

$animationTime: 0.6s;

.image {
    background: var(--light);
    min-height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 90%;
    }

    @include screenMedium2 {
        display: none;
    }
}

.form-content {
    display: flex;
    align-items: center;
    min-height: 93vh;
    justify-content: center;
    padding: 1rem;
    
    .custom-border {
        margin-right: 0.1rem;
        padding: 1rem;
        overflow-x: hidden;
        @include screenMedium2 {
            border: none;
        }
    }
    .login {
        animation: slide-left $animationTime ease-out forwards;
    }
    
    .register {
        animation: slide-right $animationTime ease-out forwards;
    }
}



@include screenMedium2 {
    
    .image {
        min-height: 40vh;
    }
    
    .form-content {
        min-height: 40vh;
    
        form {
            margin: 0;
        }
    }
}