<p-dialog 
[draggable]="false" 
[closeOnEscape]="false" 
[(visible)]="visible" 
[header]="header"
[modal]="true"
[style]="style"
(onHide)="emitClose()"
(visibleChange)="emitVisibleChange()"
[closable]="false"
[class]="modalStyle">

<ng-content></ng-content>

<ng-template pTemplate="header">
  <h4>{{ header }}</h4>
</ng-template> 
<ng-template pTemplate="footer" class="mt-3">
  <p-button class="mr-3" *ngIf="showCancelButton" [label]="cancelLabel" (click)="emitClose()" [styleClass]="cancelButtonStyleClass" [disabled]="onLoading"></p-button>
  <p-button *ngIf="showConfirmButton" [label]="confirmLabel" (onClick)="emitConfirm()" [styleClass]="confirmButtonStyleClass" [disabled]="onLoading"
  [icon]="onLoading ? 'pi pi-spin pi-spinner' : ''"></p-button>
</ng-template>
</p-dialog>