@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./assets/styles/bootstrap/bootstrap-grid.min.css";
@import './assets/styles/bootstrap/utils.scss';
@import 'variables';

:root {
    --primaryColor: #0e1d31;
    --secondaryColor: #040d19;
    --font: "Montserrat", serif;
    --light: #53a098;
    --darkText: #000;
    --whiteColor: #f3fbfd;
    --linkColor: #85b2f9;
    --dangerColor: #f38e85;
    --borderColor: #1e375c;
    --hoverColor: #0B1625;
}

body {
    background: var(--secondaryColor);
    color: var(--text-color);
    font-family: var(--font) !important;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.content {
    max-width: 100%;
    overflow-x: hidden;
}

.pointer {
    cursor: pointer;
}

.register {
    .form-content {

        .p-inputtext {
            background: var(--whiteColor) !important;
            color: var(--darkText) !important;
        }
    }
}

.p-button {
    background: var(--light) !important;
    border-color: var(--light) !important;
    color: var(--text-color);
    &:hover {
        color: var(--text-color);
    }
}

.p-button-text {
    background: transparent !important;
    border-color: transparent !important;
}

.text-danger {
    color: var(--dangerColor) !important;
}

.custom-border {
    border: 1.5px solid var(--borderColor);
    border-radius: 1rem;
}

.button-link {
    color: var(--linkColor) !important;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    padding-left: 0.2rem;
    &:hover {
        border-color: var(--linkColor);
    }
}