@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./assets/styles/bootstrap/bootstrap-grid.min.css";
@import './assets/styles/bootstrap/utils.scss';
@import 'variables';

:root {
    --primaryColor: #0e1d31;
    --secondaryColor: #040d19;
    --font: "Montserrat", serif;
    --light: #53a098;
    --darkText: #000;
    --whiteColor: #f3fbfd;
    --linkColor: #85b2f9;
    --dangerColor: #f38e85;
    --borderColor: #1e375c;
    --hoverColor: #0B1625;
}

body {
    background: var(--secondaryColor);
    color: var(--text-color);
    font-family: var(--font) !important;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.content {
    max-width: 100%;
    overflow-x: hidden;
}

.pointer {
    cursor: pointer;
}

.p-button {
    background: var(--light) !important;
    border-color: var(--light) !important;
    color: var(--text-color);
    &:hover {
        color: var(--text-color);
    }
}

.p-button-text {
    background: transparent !important;
    border-color: transparent !important;
}

.text-danger {
    color: var(--dangerColor) !important;
}

.custom-border {
    border: 1.5px solid var(--borderColor);
    border-radius: 1rem;
}

.button-link {
  position: relative;
  color: var(--linkColor) !important;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--linkColor);
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.p-input-icon {
    color: var(--text-color)
}