@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryColor: #071426;
    --secondaryColor: #040d19;
    --font: "Montserrat", serif;
    --light: #53a098;
    --darkText: #000;
    --whiteColor: #f3fbfd;
    --linkColor: #85b2f9;
    --dangerColor: #f38e85;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background: var(--secondaryColor);
    color: var(--text-color);
    font-family: var(--font) !important;
}

.content {
    max-width: 100%;
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .img {
        width: 40px;
        img {
            max-width: 100%;
        }
    }
    .navbar-items {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center;
        height: 100%;
        
        .item {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                background: var(--text-color);
                width: 0;
                height: 1px;
                bottom: 0;
                left: 0;
                transition: 0.5s;
            }
    
            &:hover::after {
                width: 100%;
            }
        }

        .active::after {
            width: 100%;
        }
    }
}

.pointer {
    cursor: pointer;
}

.register {
    .form-content {

        .p-inputtext {
            background: var(--whiteColor) !important;
            color: var(--darkText) !important;
        }

        .p-button {
         background: var(--light) !important;
         border-color: var(--light) !important;
         color: var(--text-color);
         &:hover {
            color: var(--text-color);
        }
        }
    }
}

.custom-border {
    border: 1.5px solid #1e375c;
    border-radius: 1rem;
}

.button-link {
    color: var(--linkColor) !important;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    padding-left: 0.2rem;
    &:hover {
        border-color: var(--linkColor);
    }
}